<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main.css">
  <title>Login</title>
</head>
<body>
  <div class="flex justify-center">
  <form class="flex flex-col w-full px-10 md:px-0 md:max-w-96 justify-center" method="POST" action="/auth/login">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="test@test.com"/>
    <input type="password" name="password" id="password" value="testpassword" />
    
    <button type="submit"> Login </button>

  </form>

  </div>
</body>
</html>